<ion-header>
	<ion-navbar>
		<ion-title>Login</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="loading" class="container-div-centered">
		<ion-spinner></ion-spinner>
	</div>
	<form *ngIf="!loading" (ngSubmit)="login()">
		<ion-list>

			<ion-item>
				<ion-label stacked>Username</ion-label>
				<ion-input type="text" [(ngModel)]="pseudo" name="pseudo"></ion-input>
			</ion-item>

		</ion-list>

		<div padding>
			<button ion-button block type="submit">Sign In</button>
		</div>
	</form>
</ion-content>