ion-content {
    h1, h3 {
        width: 100%;
        text-align: center;
    }

    h1 {
        width: 100%;
        text-align: center;
        margin-top: 48%;
    }

    .best-time {
        color: #387ef5;
    }

    ion-spinner {
        width: 100%;
        text-align: center;
    }

    div.min-time {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
    }
}