<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Profile</ion-title>
	</ion-navbar>
</ion-header>

<ion-content *ngIf="user">
	<ion-card>
		<ion-card-header>
			<img src="{{getAvatar(user)}}" />
			<button ion-button fab (click)="editAvatar()" class="avatar-button">
				<ion-icon name="create"></ion-icon>
			</button>
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item>
					<ion-icon name="person" item-left></ion-icon>
					<ion-input type="text" [(ngModel)]="user.pseudo" value="{{user.pseudo}}" [disabled]="!isEditing"></ion-input>
				</ion-item>
				<ion-item>
					<ion-icon name="bug" item-left></ion-icon>
					<ion-list>
						<ion-item *ngFor="let prop of user.deviceProperties">
							{{prop}}
						</ion-item>
					</ion-list>
				</ion-item>
				<ion-item>
					<ion-icon name="clock" item-left></ion-icon>
					{{user.minTime}} ms
				</ion-item>
				<ion-item>
					<ion-icon name="bookmark" item-left></ion-icon>
					{{user.points}} pts
				</ion-item>
				<ion-item>
					<ion-icon name="finger-print" item-left></ion-icon>
					{{user.click}} clicks
				</ion-item>
			</ion-list>
		</ion-card-content>
		<button *ngIf="!isEditing" ion-button fab (click)="edit()">
			<ion-icon name="create"></ion-icon>
		</button>
		<button *ngIf="isEditing" ion-button fab (click)="valid()">
			<ion-icon name="checkmark"></ion-icon>
		</button>
	</ion-card>

</ion-content>